<form [formGroup]="Postform" (ngSubmit)="addPost()">
    <div class="form-outline mb-4">
        <label class="form-label" for="title">Title <b style="color: red;">*</b></label>
      <input formControlName="title" ngModel name="title" type="text" id="title" class="form-control" />
    </div>
  
    
    <div class="form-outline mb-4">
        <label class="form-label" for="body">Body <b style="color: red;">*</b></label>
      <textarea formControlName="body" ngModel name="body" class="form-control" id="body" rows="4"></textarea>
    </div>
    
    <div class="form-outline mb-4">
        <label class="form-label" for="image">Url image</label>
        <input formControlName="urlImage" ngModel name="urlImage" type="text" id="image" class="form-control" />
    </div>  
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
  </form>